<!--MODIFIER UN ARTICLE-->

<!--IMAGE-->
<div class="container">
    <div class="row">
        <div class="col-md-12 img-bottles"></div>
    </div>
</div>

<!-- FORM -->
<form action="/articleEditPost/{{article._id}}" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="nom">Nom</label>
        <input name="nom" type="name" class="form-control" value="{{article.nom}}" id="exampleInputEmail1"
            aria-describedby="emailHelp" placeholder="Nom">
    </div>
    <img src={{article.image}} alt="img">
    <div class="form-group">
        <label for="nom">Prix</label>
        <input name="prix" type="number" class="form-control" value="{{article.prix}}" id="exampleInputEmail1"
            aria-describedby="emailHelp" placeholder="Prix">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Millésime</label>
        <input name="millesime" type="text" class="form-control" value="{{article.millesime}}"
            id="exampleInputPassword1" placeholder="Millésime">
    </div>
    <div class="file">
        <label class="file-label">
            <input class="file-input" type="file" name="image" value="{{article.image}}">
            <span class="file-cta">
                <span class="file-icon">
                    <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                    Choisissez une image...
                </span>
            </span>
        </label>
    </div>
    {{!-- <div class="form-group">
        <label for="exampleFormControlFile1"></label>
        <input name="image" type="file" class="form-control-file">
    </div> --}}
    <div class="container-btn">
        <div class="col-md-12 btn">
            <button class="btn btn-primary" type="submit">valider</button>
        </div>
    </div>
</form>
<button type="button" class="btn btn-primary">deconnexion</button>
<button type="button" class="btn btn-primary">catalogue</button>